{% extends "base.html" %}
{% block contenido %}

<table  class = "table" cellspacing = '0'>
        <thead>
            <th>Dni</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Grado Academico</th>
        </thead>
        <tbody>
            {% for persona in personas %}
            <tr class="success">
                <td>{{persona.dni}}</td>
                <td>{{persona.nombre}}</td>
                <td>{{persona.apellido_pat}}</td> 
                <td>{{persona.apellido_mat}}</td> 
                <td>{{persona.grado_academico}}</td> 
                <td> <a href="/personaEdit/{{persona.id}}"class = "btn btn-success" >Editar</a></td>
                <td> <a href="/personaBorrar/{{persona.id}}"class = "btn
                        btn-danger" >Borrar</a></td>
            {% empty %}
            <tr>
                <td> No hay Personas Disponibles </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/personaAdd/{{persona_add.html}} "class = "btn btn-primary" >Agregar</a>

{% endblock contenido %}



    
