{% extends "base.html" %}
{% block contenido %}
<table  class = "table" cellspacing = '0'>
        <thead>
            <th>Persona</th>
            <th>Tema de Ponencia</th>
        </thead>
        <tbody>
            {% for ponente in ponentes %}
            <tr class="success">
                <td>{{ponente.persona}}</td>
                <td>{{ponente.tema_ponencia}}</td>
                <td> <a href="/ponenteEdit/{{ponente.id}}"class = "btn btn-success" >Editar</a></td>
                <td> <a href="/ponenteBorrar/{{ponente.id}}"class = "btn
                        btn-danger" >Borrar</a></td>
            {% empty %}
            <tr>
                <td> No hay Personas Disponibles </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/ponenteAdd/{{ponenteAdd.html}} "class = "btn btn-primary" >Agregar</a>
{% endblock contenido %}

